body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif !important;
}
/* PENYEWAAN */
a:hover {
    transition: .2s ease-in-out;
    opacity: 0.7;
    color: #fff !important;
}

.logo {
    align-self: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.logo p {
    font-size: 15px;
    letter-spacing: .4px;
    margin-bottom: 0px;
}
.navbar {
    padding: 15px 30px !important;
    background-color: #e74c3c;
}
.navbar-brand {
    padding: 0px 0px;
}
.navbar-collapse {
    margin-left: 35%;
    text-transform: uppercase;
}
.nav-link {
    color: white;
    font-size: 14px;
    padding: 0 !important;
    margin: 8px 20px;
}
.penyewaan h2 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.card {
    border-radius: 0px;
    margin-bottom : 20px;
}
.card-img-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.card-title {
    margin-top: 10px;
    text-transform: uppercase;
}
.btn-detail {
    border-radius: 0px;
    padding: 10px 0px;
    text-transform: uppercase;
    background-color: #e74c3c;
    border: none;
}
.quick-view {
    padding : 60px 0px;
    width: 403px;
    height : 267.967px;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: overlay;
    transition: filter .4s;
}
.view1 {
    margin-left: 30%;
    margin-top: 7%;
    position: absolute;
    z-index: 10;
}
.view2 {
    margin-left: 65%;
    margin-top: 7%;
    position: absolute;
    z-index: 10;
}
.view1 p , .view2 p {
    color: #fff;
}
.mask {
    filter : blur(2px)  brightness(30%);
    transition: filter .4s;

}
/* END PENYEWAAN */

/* DETAIL */
.item-container {
    margin-top: 40px !important;
    margin-left: 150px !important;
    margin-right: 150px !important;
    box-sizing: border-box;
}

h3 {
    font-weight: 700;
}

.item-rating img {
    width: 20px;
}

.item-feature {
    margin: 25px 0px;
    color: rgba(0, 0, 0, .6);
    font-size: 15px;
    font-weight: 600;
}

.item-feature img {
    width: 27px;
    margin-right: 7px;
}

.detail-ru {
    padding-top: 40px;
    margin-bottom: 0px;
}

button {
    padding: 10.5px 35px;
    border: none;
    background-color: #c0392b;
    color: white;
    font-weight: 600;
}
.space h3 {
    font-weight: bold;  
}
.price h2 {
    font-weight: bold;
}
.btn-sewa {
    border-radius: 0px;
    padding: 7px 40px;
    text-transform: uppercase;
}
/* END DETAIL */

/* Penyewaan */
.activestep {
    width: 200px;
    height: 50px;
    background-color: #e74c3c;
    font-family: 'Lato', sans-serif;
}
.segitigaactive {
    margin-top: 8px;
    width: 35px;
    height: 35px;
    background-color: thistle;
    margin-left: 80%;
    transform: rotate(45deg);
    z-index : 1000;
    background-color: #e74c3c;
}
.steps {
    border: 1px solid black;
    border-right: none;
    height: 50px;
}
.step {
    height: 50px;
    margin-top: 3%;
    text-transform: uppercase;
}
.stepsbyr {
    height: 50px;
    border: 1px solid black;
    border-left: none;
}
.tu {
    margin-top: 7px;
    margin-left: 6%;
}
.segitiga {
    margin-top: 7px;
    width: 35px;
    height: 35px;
    margin-left: 80%;
    transform: rotate(45deg);
    border : 1px solid black;
    border-left: none;
    border-bottom: none; 
    background-color: white;
    z-index: 10;
}
.step p {
    font-size: 21px;
}
.pendataan {
    margin-top: 7px;
}
.pendataan p {
    margin-left: 12px;
}
/* End Penyewaan */

/* FORM */
.form-user {
    margin-top: 40px;
}
.harga h1 {
    font-weight: bold;
}
/* END FORM */

/* Konfirmasi */
.konfirmasi h2 {
    margin-top: 100px;
}
/* End Konfirmasi */

/* Pembayaran */
.payment{
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}
.bni , .mandiri{
    padding-top: 30px;
    margin-left: 15px;
    height: 150px;
    border: 1px solid black;
}
.bni a , .mandiri a{
    text-decoration: none;
    color: grey;
}
.bni a:hover , .mandiri a:hover{
    text-decoration: none;
    color: black;
}
/* End Pembayaran */

/* RESPONSIVE */
@media (max-width: 576px){
	.space h3 ,.price {
        margin-top: 10px;
        text-align: center;
    }
    .btn-sewa {
        width: 100%;
    }
}
/* END RESPONSIVE */